@charset "UTF-8";
@font-face {
  font-family: "merriweather";
  font-style: normal;
  font-weight: normal;
  src: url("http://v5.res.dandyweng.com/fonts/merriweather-light-webfont.woff2"); }
html, body, section, div, ul, li, h1, h2, h3, h4, h5, h6, p, figure, figcaption, article, header, hgroup, form, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "merriweather", SimSun, "宋体", sans-serif; }
  @media (max-width: 1440px) {
    html {
      font-size: 60%; } }
  @media (max-width: 1024px) {
    html {
      font-size: 55%; } }

body {
  font-size: 2.2rem;
  color: rgba(0, 0, 0, 0.75);
  line-height: 1.65;
  min-width: 800px;
  overflow-y: hidden; }

section {
  opacity: 1;
  position: relative; }
  section .content {
    position: relative; }

ol, ul {
  list-style: none; }

h1, h2 {
  font-size: 5rem;
  font-weight: normal;
  line-height: 1.3; }

h1, h2, h3, h4 {
  cursor: default; }

a {
  color: #475f85;
  text-decoration: none; }

.notification {
  position: absolute;
  width: 500px;
  top: 0;
  left: -250px;
  margin-top: 20px;
  margin-left: 50%;
  font-size: 14px;
  font-size: 1.4rem;
  background: #fff;
  color: #666;
  border-radius: 5px;
  opacity: .8;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 5px 28px 0 rgba(0, 0, 0, 0.3);
  transition: opacity .5s; }
  .notification p {
    display: inline;
    line-height: 40px; }
  .notification i.fa-times {
    float: right;
    margin: 5px 0;
    padding: 0 15px;
    line-height: 30px;
    color: #888;
    border-left: 1px solid #CCC; }

.container {
  margin: 0 auto;
  width: 90%; }

.notification.clickable {
  cursor: pointer; }

[data-tooltip] {
  position: relative;
  cursor: pointer; }
  [data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 8px 15px;
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 1px 3px 20px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    white-space: nowrap;
    transition: all .8s;
    pointer-events: none; }
  [data-tooltip]:hover::after {
    bottom: 130%;
    opacity: 1; }

#intro {
  height: 100vh;
  padding: 30vh 0 0;
  background: url(../img/intro.jpg) no-repeat fixed bottom center;
  background-size: cover;
  text-align: center;
  color: #fff; }
  #intro > * {
    opacity: 1; }
  #intro.inactive > * {
    opacity: .1; }
  #intro > ul {
    position: absolute;
    top: 0;
    right: 1rem; }
    #intro > ul li {
      display: inline;
      margin-right: 8px;
      font-size: 1.2rem; }
      #intro > ul li a {
        color: #fff;
        opacity: .6;
        transition: opacity .5s; }
  #intro .content {
    margin: 0 auto 130px;
    -webkit-box-reflect: below 120% -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(255, 255, 255, 0.05)), color-stop(100%, rgba(255, 255, 255, 0.2)));
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all .8s; }
    #intro .content #portait {
      margin: -130px auto 0;
      width: 100px;
      height: 100px;
      background-color: rgba(255, 255, 255, 0.3);
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5), 0px 2px 18px 3px rgba(0, 0, 0, 0.2);
      border-radius: 50%; }
      #intro .content #portait .offset-outer {
        width: 100px;
        height: 100px;
        overflow: hidden;
        transition: all .6s;
        transform: translate(0, 0); }
        #intro .content #portait .offset-outer .offset-inner {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border-radius: 50%; }
          #intro .content #portait .offset-outer .offset-inner .sticker-img {
            width: 100%;
            height: 100%;
            background: url(../img/square.jpg);
            background-size: contain; }
    #intro .content h2 {
      display: block;
      margin-top: 50px;
      font-size: 2.8rem;
      transition: all .8s; }
    #intro .content p {
      font-size: 2rem;
      line-height: 1.6;
      margin-top: 1rem;
      transition: all .8s; }
  #intro a.photo-title {
    position: absolute;
    right: 8px;
    bottom: 15px;
    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 1px 3px #000,0 3px 18px #000; }

#homeschool {
  height: 100vh;
  padding-top: 20vh;
  background: url("../img/overlay-lba-x2.png") fixed top left, url("../img/homeschool.jpg") fixed bottom center;
  background-size: 256px 256px,cover;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  overflow: hidden; }
  #homeschool > * {
    opacity: 1; }
  #homeschool.inactive > * {
    opacity: 0; }
  #homeschool.inactive .content {
    transform: translateY(180%); }
  #homeschool.inactive .timeline {
    top: -100px; }
    #homeschool.inactive .timeline .timeline-row {
      margin-bottom: -50px; }
  #homeschool p {
    margin-bottom: 1.5rem; }
  #homeschool .content {
    width: 50%;
    left: 50%;
    padding-right: 5em;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 1px 18px rgba(0, 0, 0, 0.3);
    transform: translateY(0);
    transition: all .8s; }
    @media (max-width: 1440px) {
      #homeschool .content {
        width: 60%;
        left: 40%; } }
    @media (max-width: 1024px) {
      #homeschool .content {
        width: 90%;
        left: 10%; } }
    #homeschool .content h2 {
      margin-bottom: 2rem; }
  #homeschool .timeline {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    padding: 20px 0 20px 20%;
    white-space: nowrap;
    opacity: .5;
    transition: all .8s; }
    @media (max-width: 1440px) {
      #homeschool .timeline {
        left: 5%;
        padding-left: 12%;
        width: 55%; } }
    @media (max-width: 1024px) {
      #homeschool .timeline {
        display: none; } }
    #homeschool .timeline:hover {
      opacity: .9; }
    #homeschool .timeline::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 4px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 2px; }
    #homeschool .timeline .timeline-row {
      margin-bottom: 20px;
      transform: translate(-69px, 0);
      transition: all .8s; }
      @media (min-height: 970px) {
        #homeschool .timeline .timeline-row {
          margin-bottom: 25px; } }
      #homeschool .timeline .timeline-row .timeline-time {
        position: relative;
        display: inline-block;
        width: 50px;
        padding-right: 10px;
        text-align: right;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        font-size: 1.6rem; }
        #homeschool .timeline .timeline-row .timeline-time small {
          display: block;
          font-size: 1.1rem;
          opacity: 0;
          transition: opacity .5s; }
      #homeschool .timeline .timeline-row .timeline-icon {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 30px;
        color: rgba(57, 69, 75, 0.8);
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        border-radius: 50%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        z-index: 1; }
      #homeschool .timeline .timeline-row .timeline-content {
        position: relative;
        display: inline-block;
        margin-left: 10px;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), 0px 5px 28px rgba(0, 0, 0, 0.5);
        padding-left: 40px;
        opacity: 0;
        transition: all .8s; }
        #homeschool .timeline .timeline-row .timeline-content h3 {
          font-size: 1.6rem;
          font-weight: normal;
          white-space: normal; }
        #homeschool .timeline .timeline-row .timeline-content::after {
          content: "";
          position: absolute;
          top: 12px;
          left: 100%;
          margin-left: calc(-100% - 20px);
          width: 40px;
          height: 4px;
          background-color: rgba(0, 0, 0, 0.2);
          z-index: -1; }
      @media (min-width: 1440px) {
        #homeschool .timeline .timeline-row:nth-child(2n+1) .timeline-time {
          text-align: left;
          left: 100px; }
        #homeschool .timeline .timeline-row:nth-child(2n+1) .timeline-content {
          right: 80px;
          transform: translate(-100%, 0); }
          #homeschool .timeline .timeline-row:nth-child(2n+1) .timeline-content::after {
            transform: translateX(20px);
            margin-left: 0; } }
      #homeschool .timeline .timeline-row:hover small {
        opacity: .7; }
      #homeschool .timeline .timeline-row:hover .timeline-content {
        margin-left: 0;
        opacity: 1; }

#travel {
  height: 100vh;
  padding: 20vh 0 0 10%;
  background: #464646 url(../img/stardust.png);
  background-size: 400px;
  color: #fff;
  overflow-x: hidden;
  transition: all .8s; }
  #travel.inactive .content {
    transform: translateX(-80%);
    opacity: 0; }
  #travel.inactive #map {
    transform: translateX(80%);
    opacity: 0; }
  @media (max-width: 1550px) {
    #travel {
      padding-left: 5%; } }
  @media (max-width: 1024px) {
    #travel {
      padding-left: 2%; } }
  #travel .content {
    display: inline-block;
    width: 55%;
    padding: 3.5em 2.5em 3.5em 2.5em;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    transition: all .8s;
    transform: translateX(0);
    opacity: 1;
    white-space: nowrap; }
    @media (max-width: 1440px) {
      #travel .content {
        width: 48%; } }
    #travel .content h2 {
      margin-bottom: 23px; }
    #travel .content p {
      margin-bottom: 1.5rem; }
  #travel #map {
    display: inline-block;
    width: 35%;
    vertical-align: top;
    transform: translateX(0);
    opacity: 1;
    padding-top: 100px;
    transition: all .8s; }
    #travel #map svg {
      transform: scale(1.8);
      overflow: visible;
      transition: transform .5s; }
      #travel #map svg path, #travel #map svg circle {
        transition: all .8s; }
      #travel #map svg circle {
        transition: all .8s; }
      #travel #map svg g:first-child path:hover {
        fill: #ccc;
        fill-opacity: .8; }
      #travel #map svg g:last-child circle:hover {
        fill: #fd3838;
        fill-opacity: .8; }
      @media (max-width: 1280px) {
        #travel #map svg {
          transform: scale(1.2); }
          #travel #map svg circle {
            transform: scale(0.83); } }
      @media (max-width: 1024px) {
        #travel #map svg {
          transform: scale(0.9); }
          #travel #map svg circle {
            transform: scale(1); } }
  #travel #trypophobia {
    position: absolute;
    right: 35px;
    bottom: 45px;
    font-size: 1.2rem;
    color: rgba(253, 253, 253, 0.8);
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.45) rgba(255, 255, 255, 0.55);
    border-radius: 5px;
    opacity: .8;
    cursor: pointer; }
  #travel::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0, rgba(60, 60, 60, 0.1) 30%, transparent 100%); }

#photography {
  height: 100vh;
  padding-top: 20vh;
  background: url(../img/crossword.png);
  background-size: 400px;
  text-align: center; }
  #photography.inactive .content {
    opacity: .1; }
  #photography.inactive a img {
    -webkit-transform: rotateY(90deg) !important;
    transform: rotateY(90deg) !important; }
  #photography.inactive a:nth-child(1) img {
    transition-delay: 0.26s !important; }
  #photography.inactive a:nth-child(2) img {
    transition-delay: 0.24s !important; }
  #photography.inactive a:nth-child(3) img {
    transition-delay: 0.22s !important; }
  #photography.inactive a:nth-child(4) img {
    transition-delay: 0.2s !important; }
  #photography.inactive a:nth-child(5) img {
    transition-delay: 0.18s !important; }
  #photography.inactive a:nth-child(6) img {
    transition-delay: 0.16s !important; }
  #photography.inactive a:nth-child(7) img {
    transition-delay: 0.14s !important; }
  #photography.inactive a:nth-child(8) img {
    transition-delay: 0.12s !important; }
  #photography.inactive a:nth-child(9) img {
    transition-delay: 0.1s !important; }
  #photography.inactive a:nth-child(10) img {
    transition-delay: 0.08s !important; }
  #photography.inactive a:nth-child(11) img {
    transition-delay: 0.06s !important; }
  #photography.inactive a:nth-child(12) img {
    transition-delay: 0.04s !important; }
  #photography.inactive a:nth-child(13) img {
    transition-delay: 0.02s !important; }
  #photography.inactive a:nth-child(14) img {
    transition-delay: 0s !important; }
  #photography::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0)); }
  #photography .content {
    opacity: 1;
    transition: opacity .8s; }
    #photography .content p {
      margin: 1rem 0 30px; }
    #photography .content #montage {
      max-width: 1440px;
      margin: 0 auto;
      height: 248px;
      overflow-y: hidden; }
      #photography .content #montage a {
        position: relative;
        display: inline-block;
        width: 180px;
        height: 120px;
        transform-style: preserve-3d; }
        #photography .content #montage a img {
          width: 100%;
          border-radius: 2px;
          -webkit-transform: rotateY(0);
          transform: rotateY(0);
          transition: transform 1s; }
        #photography .content #montage a:nth-child(1) img {
          transition-delay: 0s; }
        #photography .content #montage a:nth-child(2) img {
          transition-delay: 0.02s; }
        #photography .content #montage a:nth-child(3) img {
          transition-delay: 0.04s; }
        #photography .content #montage a:nth-child(4) img {
          transition-delay: 0.06s; }
        #photography .content #montage a:nth-child(5) img {
          transition-delay: 0.08s; }
        #photography .content #montage a:nth-child(6) img {
          transition-delay: 0.1s; }
        #photography .content #montage a:nth-child(7) img {
          transition-delay: 0.12s; }
        #photography .content #montage a:nth-child(8) img {
          transition-delay: 0.14s; }
        #photography .content #montage a:nth-child(9) img {
          transition-delay: 0.16s; }
        #photography .content #montage a:nth-child(10) img {
          transition-delay: 0.18s; }
        #photography .content #montage a:nth-child(11) img {
          transition-delay: 0.2s; }
        #photography .content #montage a:nth-child(12) img {
          transition-delay: 0.22s; }
        #photography .content #montage a:nth-child(13) img {
          transition-delay: 0.24s; }
        #photography .content #montage a:nth-child(14) img {
          transition-delay: 0.26s; }
        #photography .content #montage a::before, #photography .content #montage a::after {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          color: #fff;
          text-align: left;
          text-indent: -1em;
          opacity: 0;
          text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 1px 18px rgba(0, 0, 0, 0.3);
          transition: all .8s ease .05s;
          z-index: 2; }
        #photography .content #montage a::before {
          content: attr(data-location);
          line-height: 11.5;
          font-size: 12px; }
        #photography .content #montage a::after {
          content: attr(data-camarts-title);
          line-height: 10;
          font-size: 18px;
          background: linear-gradient(to bottom, transparent 0, rgba(60, 60, 60, 0.3) 60%, rgba(0, 0, 0, 0.85) 100%); }
        #photography .content #montage a:hover::before {
          opacity: .8;
          text-indent: 1.6em; }
        #photography .content #montage a:hover::after {
          opacity: 1;
          text-indent: 1em; }
    #photography .content #montage-controller {
      margin: 30px auto 40px; }
      #photography .content #montage-controller a {
        margin: 10px;
        color: #333;
        font-size: 16px;
        opacity: .6; }
      #photography .content #montage-controller i {
        margin-right: 5px;
        padding: 7px;
        padding-left: 8px;
        border: 1px solid #333;
        border-radius: 50%;
        font-size: 12px; }

#design {
  height: 100vh;
  padding-top: 26vh;
  background: url(../img/design.jpg) fixed;
  color: #fff;
  overflow: hidden; }
  #design.inactive .content {
    opacity: .1; }
    #design.inactive .content h2 {
      transform: translateX(60%); }
    #design.inactive .content p {
      transform: translateX(80%); }
    #design.inactive .content hr, #design.inactive .content hr + p {
      transform: translateX(100%); }
  #design.inactive #showcase {
    transform: translateX(-100%);
    opacity: 0; }
  #design::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0, rgba(60, 60, 60, 0.1) 30%, transparent 100%); }
  #design .content {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5), 0 1px 18px rgba(0, 0, 0, 0.5);
    left: 48%;
    width: 50%;
    padding: 2em;
    opacity: 1;
    transition: opacity 1s; }
    #design .content > * {
      transform: translateX(0);
      transition: transform 1.5s; }
    #design .content h2 {
      margin-bottom: 23px; }
    #design .content p {
      margin-bottom: 1.5rem; }
    #design .content hr {
      height: 1px;
      margin: 3em 0 1em;
      border: 0;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)); }
    #design .content hr + p {
      font-size: 1.4rem;
      line-height: 1.8;
      opacity: .8; }
  #design #showcase {
    position: absolute;
    top: 37%;
    left: 12%;
    width: 30%;
    transform: translateX(0);
    opacity: 1;
    transition: all .8s, opacity 1s, transform 1.5s; }
    @media (max-width: 1440px) {
      #design #showcase {
        top: 35%;
        left: 7%;
        width: 40%; } }
    @media (max-width: 1024px) {
      #design #showcase {
        top: 40%; } }
    #design #showcase figure {
      display: inline-block;
      width: 42%;
      margin: 0 5.5% 4.5% 0;
      position: relative;
      opacity: .9; }
      #design #showcase figure:hover figcaption {
        opacity: .9; }
      #design #showcase figure img {
        width: 100%;
        border: 3px solid #fff;
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5), 0 1px 18px rgba(0, 0, 0, 0.5); }
      #design #showcase figure figcaption {
        position: absolute;
        margin-left: 4px;
        width: 100%;
        padding: 20px;
        border: 1px solid;
        font-size: 14px;
        line-height: 1.8;
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
        pointer-events: none;
        opacity: 0;
        transition: all .8s; }
        #design #showcase figure figcaption::after {
          position: absolute;
          content: "";
          height: 90px;
          width: 100%;
          left: 0;
          bottom: 0;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0, rgba(60, 60, 60, 0.1) 30%, transparent 100%); }
        #design #showcase figure figcaption h3 {
          font-size: 28px;
          text-align: center; }
      #design #showcase figure.top figcaption {
        bottom: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0); }
      #design #showcase figure.bottom figcaption {
        top: 100%;
        margin-top: -5%;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.6); }
        #design #showcase figure.bottom figcaption::after {
          top: 0;
          bottom: auto;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0, rgba(60, 60, 60, 0.1) 30%, transparent 100%); }

#speech {
  height: 100vh;
  padding-top: 20vh;
  background: url(../img/white_wall_hash.png);
  background-size: 500px;
  overflow: hidden; }
  #speech::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(255, 255, 255, 0));
    border-top: 1px solid rgba(255, 255, 255, 0.13); }
  #speech #window {
    position: absolute;
    top: 0;
    right: 0;
    width: 61.8%;
    height: 61.8%;
    background: url(../img/overlay.png), url(../img/speech.jpg) fixed;
    border: 1px solid;
    border-right: 0;
    border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 1000px;
    box-shadow: 0 3px 60px 0 rgba(0, 0, 0, 0.1); }
    #speech #window #player {
      position: absolute;
      right: 10%;
      height: 75%;
      width: 60%;
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 8px 1.5px rgba(0, 0, 0, 0.35), 0px 20px 70px 8px rgba(0, 0, 0, 0.35);
      overflow: hidden;
      transition: all .8s; }
      @media (max-width: 1024px) {
        #speech #window #player {
          height: 60%; } }
      #speech #window #player p {
        position: absolute;
        top: 50%;
        margin-top: -0.5em;
        width: 100%;
        color: #ddd;
        text-align: center; }
  #speech .content {
    width: 40%;
    left: 3%;
    padding: 0 3em 5em 2em; }
    #speech .content h2 {
      padding-bottom: 23px; }
  #speech #lectures {
    position: absolute;
    bottom: 12%;
    height: 180px;
    width: 100%; }
    #speech #lectures #lectures-inner {
      height: 180px;
      white-space: nowrap;
      overflow-x: scroll; }
      #speech #lectures #lectures-inner article {
        position: relative;
        display: inline-block;
        height: 135px;
        margin-left: 80px;
        padding: 10px 20px 10px 155px;
        border: 1px solid #ddd;
        border-radius: 5px;
        color: #666;
        background-color: #fcfcfc;
        background-image: url(../img/crossword.png);
        background-size: 400px;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
        overflow: hidden; }
        #speech #lectures #lectures-inner article::before {
          content: attr(data-button);
          position: absolute;
          width: 135px;
          height: 75px;
          bottom: 0;
          left: 0;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, transparent 80%);
          color: #fff;
          font-size: 1.4rem;
          text-align: center;
          text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8), 0 2px 28px #000;
          border-bottom-left-radius: 5px;
          transition: opacity .5s;
          opacity: 0;
          z-index: 2; }
        #speech #lectures #lectures-inner article.video-available::before {
          height: 58px; }
        #speech #lectures #lectures-inner article img {
          float: left;
          width: 135px;
          margin-top: -10px;
          margin-left: -155px;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          opacity: 1; }
          #speech #lectures #lectures-inner article img:last-of-type {
            opacity: 0;
            transition: opacity .5s; }
        #speech #lectures #lectures-inner article i {
          position: absolute;
          top: 32px;
          left: 0;
          width: 135px;
          color: #fff;
          font-size: 26px;
          text-align: center;
          text-shadow: 0 2px 8px rgba(0, 0, 0, 0.3), 0 2px 28px rgba(0, 0, 0, 0.8);
          opacity: 0;
          transition: opacity .5s; }
        #speech #lectures #lectures-inner article header {
          margin-bottom: 2px; }
          #speech #lectures #lectures-inner article header * {
            display: inline; }
          #speech #lectures #lectures-inner article header h3, #speech #lectures #lectures-inner article header h4 {
            font-size: 1.4rem; }
          #speech #lectures #lectures-inner article header h3 {
            font-weight: 900; }
        #speech #lectures #lectures-inner article p {
          max-width: 35em;
          font-size: 13px;
          line-height: 1.5;
          white-space: normal; }
        #speech #lectures #lectures-inner article:hover img, #speech #lectures #lectures-inner article:hover i, #speech #lectures #lectures-inner article:hover:before {
          opacity: 1; }
    #speech #lectures .controller {
      position: absolute;
      top: -2px;
      width: 160px;
      height: 140px;
      padding: 0 25px;
      color: rgba(0, 0, 0, 0.35);
      line-height: 140px;
      cursor: pointer;
      transition: color .5s;
      z-index: 3; }
      #speech #lectures .controller::before, #speech #lectures .controller::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        height: 1px;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0, rgba(53, 53, 53, 0.1) 50%, transparent 100%); }
      #speech #lectures .controller::after {
        top: auto;
        bottom: 0; }
      #speech #lectures .controller:hover {
        color: rgba(0, 0, 0, 0.65); }
      #speech #lectures .controller.left {
        left: 0;
        background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0.65) 50%, rgba(255, 255, 255, 0) 100%);
        text-align: left; }
      #speech #lectures .controller.right {
        right: 0;
        text-align: right;
        background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0.65) 50%, rgba(255, 255, 255, 0) 100%); }
        #speech #lectures .controller.right::before, #speech #lectures .controller.right::after {
          background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0, rgba(53, 53, 53, 0.1) 50%, transparent 100%); }
    #speech #lectures .scroll {
      height: 10px;
      opacity: 0;
      background-color: #000; }

#contact {
  text-align: center;
  background: #fbfbfb url(../img/snow.png); }
  #contact.inactive #separator p {
    opacity: 0; }
  #contact.inactive #separator ul li {
    opacity: 0;
    transform: translateY(100%); }
    #contact.inactive #separator ul li:nth-child(1) {
      transition-delay: 0.6s; }
    #contact.inactive #separator ul li:nth-child(2) {
      transition-delay: 0.4s; }
    #contact.inactive #separator ul li:nth-child(3) {
      transition-delay: 0.2s; }
    #contact.inactive #separator ul li:nth-child(4) {
      transition-delay: 0s; }
  #contact.inactive .content h2, #contact.inactive .content > p {
    transform: translateY(200px);
    transition-delay: 0; }
  #contact::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    top: 300px;
    left: 0;
    border-top: 1px solid #fff;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent); }
  #contact #separator {
    position: relative;
    height: 300px;
    background: url(../img/overlay.png), url(../img/more.jpg) fixed;
    background-color: #222;
    background-size: 256px 256px, cover; }
    @media (max-width: 1440px) {
      #contact #separator {
        background-size: 180px, cover;
        background-position: bottom;
        background-repeat: repeat, no-repeat; } }
    @media (max-width: 1024px) {
      #contact #separator {
        background-size: 180px, contain; } }
    #contact #separator::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 50px;
      top: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0, rgba(60, 60, 60, 0.1) 30%, transparent 100%); }
    #contact #separator p {
      padding-top: 2.5em;
      color: #fff;
      text-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 18px rgba(0, 0, 0, 0.3);
      opacity: 1;
      transition: opacity 1s; }
    #contact #separator ul {
      padding-top: 20px; }
      #contact #separator ul li {
        display: inline-block;
        margin: 18px;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 1s, transform 1.5s; }
        #contact #separator ul li:nth-child(1) {
          transition-delay: 0s; }
        #contact #separator ul li:nth-child(2) {
          transition-delay: 0.2s; }
        #contact #separator ul li:nth-child(3) {
          transition-delay: 0.4s; }
        #contact #separator ul li:nth-child(4) {
          transition-delay: 0.6s; }
        #contact #separator ul li a {
          color: #fff; }
          #contact #separator ul li a i {
            font-size: 2em;
            text-shadow: 0 5px 38px rgba(0, 0, 0, 0.35); }
          #contact #separator ul li a span {
            display: block;
            font-size: 16px;
            opacity: 0;
            transition: opacity .5s; }
        #contact #separator ul li:hover span {
          opacity: 1; }
  #contact .content {
    padding-top: 100px;
    overflow: hidden; }
    #contact .content h2 {
      transform: translateY(0);
      transition: transform 1.5s;
      transition-delay: .4s; }
    #contact .content p {
      transform: translateY(0);
      transition: transform 1.5s;
      transition-delay: .5s;
      margin: 1em; }
    #contact .content #comment {
      position: relative;
      width: 50%;
      margin: 65px auto 0;
      padding: 13px;
      padding-bottom: 0;
      background-color: #fff;
      background: url(../../common/img/envelope-border.png), url(../img/light_wool.png);
      background-size: 180px, 190px 191px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.15), 0px 20px 80px 0 rgba(0, 0, 0, 0.2); }
      @media (max-width: 1440px) {
        #contact .content #comment {
          width: 75%; } }
      #contact .content #comment::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 180px;
        top: 0;
        left: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); }
      #contact .content #comment form {
        padding: 1em;
        background: url(../img/light_wool.png);
        background-size: 190px 191px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
        #contact .content #comment form .marginoffset {
          margin-left: -40px; }
          #contact .content #comment form .marginoffset > * {
            padding: 40px 0 0 40px; }
        #contact .content #comment form .full-width {
          width: 100%; }
          #contact .content #comment form .full-width:first-child {
            padding-top: 0; }
        #contact .content #comment form .half-width {
          position: relative;
          display: inline-block;
          width: 49.5%;
          z-index: 2; }
          #contact .content #comment form .half-width:nth-child(2) {
            display: block; }
          #contact .content #comment form .half-width + div.half-width {
            padding-left: 20px; }
        #contact .content #comment form p {
          font-size: 1.4rem;
          line-height: 1.8;
          color: rgba(0, 0, 0, 0.6); }
        #contact .content #comment form input, #contact .content #comment form textarea {
          display: block;
          width: 100%;
          height: 100%;
          padding: .5em;
          font-size: 20px;
          color: rgba(0, 0, 0, 0.6);
          background-color: rgba(255, 255, 255, 0.5);
          border: solid 2px #dbbfc3;
          border-radius: .5em;
          outline: 0; }
          #contact .content #comment form input:focus, #contact .content #comment form textarea:focus {
            border-color: #9ca9be; }
        #contact .content #comment form textarea {
          min-height: 200px;
          padding-top: 1em; }
        #contact .content #comment form button {
          margin-bottom: 2em;
          height: 3.5em;
          padding: 0 5em;
          font-size: 1.6rem;
          line-height: 3.5em;
          color: #fff;
          background-color: #a55f67;
          outline: 0;
          border-radius: 8px;
          box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.3);
          text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
          cursor: pointer; }

#footer {
  padding: 1.5em;
  color: rgba(255, 255, 255, 0.55);
  background: url(../img/concrete_wall.png); }
  #footer a {
    color: rgba(255, 255, 255, 0.5);
    transition: color .5s; }
    #footer a:hover {
      color: rgba(255, 255, 255, 0.9); }
  #footer .container {
    margin: 20px auto; }
    #footer .container ul#share {
      display: inline-block;
      width: 50%;
      padding: 15px 30px 0 0;
      text-align: right;
      vertical-align: top; }
      #footer .container ul#share li {
        margin: 0 6px;
        padding: 12px 18px;
        font-size: 1.8rem;
        display: inline-block;
        border: 1px solid;
        border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.45) rgba(255, 255, 255, 0.55);
        border-radius: 8px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 3px 18px rgba(0, 0, 0, 0.2);
        letter-spacing: .5px; }
    #footer .container ul#more {
      display: inline-block;
      padding-left: 70px;
      width: 45%; }
      #footer .container ul#more li:not(:first-child) {
        line-height: 1.2; }
      #footer .container ul#more h4 {
        font-size: 22px;
        font-weight: normal;
        padding-bottom: 8px; }
      #footer .container ul#more a {
        font-size: 16px; }
    #footer .container #copyright {
      width: 100%;
      text-align: center; }
      #footer .container #copyright #back-to-top {
        width: 48px;
        height: 48px;
        margin: 40px auto 50px;
        padding-top: 7px;
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.15), 0px 10px 80px 5px rgba(0, 0, 0, 0.15);
        border-radius: 50%;
        transition: background-color .5s; }
        #footer .container #copyright #back-to-top path {
          transition: all .8s; }
        #footer .container #copyright #back-to-top:hover {
          background: rgba(255, 255, 255, 0.6); }
          #footer .container #copyright #back-to-top:hover path {
            fill: rgba(57, 69, 75, 0.8); }
      #footer .container #copyright p {
        font-size: 14px; }

/*# sourceMappingURL=desktop.css.map */
